{% extends 'base.html' %}
{% load static %}

{% block content %}


    <h1>RIGHTSIZE</h1>
 <form action="{% url 'my_function' %}">      
<p id="demo"></p>    
    {% for val in vals %}
    <fieldset>
        
        Will you be using animals of both sexes? <select name="gender" size="1" id="gender" >
            <option value=1>{{val.yes}}</option>
            <option value=0>{{val.no}}</option>
            </select>
    
	  <br>Do you expect sex to have an effect on the endpoint <select name="sex" size="1" id="sex" >
			<option value=1>{{val.yes}}</option>
            <option value=0>{{val.no}}</option>
	
    </fieldset>
    {% endfor %}
	
<input type="submit" value="fetch data!"/>
</form>


{% endblock %}