{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}

    <h1>RIGHTSIZE at Pitt</h1>
<form action="add" >
<p id="demo"></p>    
   <fieldset>
        
        Will you be using animals of both sexes?<br />
      <input type="radio" id="noimpact" name="seximpact" value=0>
      <label for=0>No.</label><br>
      <input type="radio" id="yesimpact" name="seximpact" value=1>
      <label for=1>Yes.</label><br>
      <input type="radio" id="onesex" name="seximpact" value=0>
      <label for=0>I will not use animals of both sexes.</label><br>
    </fieldset>
       
    <fieldset>
       How many groups of animals will you compare? <br />
      <input type="radio" id="2groups" name="groups" value=0>
      <label for=0>2 groups.</label><br>
      <input type="radio" id="2+groups" name="groups" value=1>
      <label for="1">More than 2 groups.</label><br>
    </fieldset>
 	
<input type="submit" />
</form>

{% endblock %}