{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<html>
{% if flag == '1' %}

The primary endpoint will be analyzed by means of two-way ANOVA, with {predictor_name}, 
sex and their interaction as main effects.  The global null hypothesis will be tested at alpha={{anova2way.alpha}}.  
The sample size of {{anova2way.n_per_arm}} per cell was determined so that the global test would have {{anova2way.power}} power under the 
alternative hypothesis specified by the expected cell means {{anova2way.mus}}, 
where the within-cell standard deviation was assumed to be {{anova2way.sigma}}. 
{{anova2way.test}}

{% else %}
<p>
The null hypothesis that the means of the {k} populations are equal will be tested by an F test.  </p>
<p>A p-value less than {{anova1.alpha}} will be considered statistically significant.
</p>
Justification of sample size:
<br>  
The sample size of {{anova1.n_per_arm}} per arm was determined based on these assumptions:  power={{anova1.power}}; significance level of test={{anova1.alpha}}; within-arm standard deviation={{anova1.sigma}} 
<br>and population means under the alternative hypothesis={{anova1.mus}}
</p>
{% endif %}
</html>
{% endblock %}