{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>

<header>
		<h1>SEX EFFECT ON ENDPOINT -2 WAY ANOVA</h1>
	</header>
	<form action="anova2" >	
		<div>
	<main>
		<table>
			<tr><td>Enter the value for alpha:</td><td><input type='text' id='alpha' name='alpha' value=0.05></input></td></tr>
			<tr><td>Enter the value for power:</td><td><input type='text' id='power' name='power' value=0.8></input></td></tr>
			<tr><td>Enter the value of the within-arm standard deviation:</td><td><input type='text' id='sigma' name='sigma' value=2></input></td></tr>
			<tr><td>Enter the number of arms:</td><td><input type='text' id='arms' name='arms' value=3></input></td></tr>
			<tr><td>Enter the k means under the alternative hypothesis (Male): </td><td><input type='text' id='valuelist' name='valuelist' placeholder='enter spaces between values'></input></td></tr>
			<tr><td>Enter the k means under the alternative hypothesis (Female): </td><td><input type='text' id='valuelistf' name='valuelistf' placeholder='enter spaces between values'></input></td></tr>
			<input type="hidden" id="flag" name="flag" value='1'>
			</table>
		</div>
		<br>
		<input type="submit" />
	</main>
	</form>
</html>
{% endblock %}