{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>
	SURVIVAL- LOGRANK
	<header>
	
	</header>
	<form action="logrank" >	
		<div>
		<main>
			<table>
			<tr><td>Enter the value for alpha:</td><td><input type='text' id='alpha' name='alpha' value=0.05></input></td></tr>
			<tr><td>Enter the value for power:</td><td><input type='text' id='power' name='power' value=0.8></input></td></tr>
	
			<tr><td>Enter the end of the observation period T:</td><td><input type='text' id='observation' name='observation' value=10 ></input></td></tr>
			<tr><td>Enter the expected median survival for each arm under the alternative hypothesis: </td><td><input type='text' id='valuelist' name='valuelist' placeholder='enter spaces between values'></input></td></tr>
			</table>
			<input type="hidden" id="flag" name="flag"  value='0' >
		</div>
		<input type="submit"/>
		</main>
	</form>



{% endblock %}