
{% extends 'base.html' %}

{% block content %}
<form action="ttest" >

		<h1>t-test</h1>
		<div>
		<table>
		<tr><td>Enter the value for alpha:</td><td><input type='text' id='alpha' name='alpha'value=0.05 ></input></td></tr>
		<br>
		<tr><td>Enter the description for Arm1:</td><td><input type='text' id='arm1' name='arm1'></input></td></tr>
		<tr><td>Enter the value of mu_1 for Arm1: </td><td><input type='text' id='mu_1' name='mu_1'></input></td></tr>
		<tr><td>Enter the value of Standard Deviation for Arm1:</td><td><input type='text' id='sigma1' name='sigma1'></input></td></tr>
		<br>
		<tr><td>Enter the description for Arm2:</td><td><input type='text' id='arm2' name='arm2'></input></td></tr>
		<tr><td>Enter the value of mu_2 for Arm2: </td><td><input type='text' id='mu_2' name='mu_2'></input></td></tr>
		<tr><td>Enter the value of Standard Deviation for Arm2:</td><td><input type='text' id='sigma2' name='sigma2'></input></td></tr>
		<br>
		<tr><td>Enter the value for power:</td><td><input type='text' id='power' name='power' value=0.8 ></input></td></tr>
		</table>
		</div>
		<br>
		
<input type="submit" />
</form>

{% endblock %}