{% extends "app/layout.html" %}
{% block content %}
<html>
<head>
    <script type="text/javascript">

        function verifyData(tableID1, tableID2) {

            var table = document.getElementById(tableID1);

            var row = " ";
            for (var i = 0; i < table.rows.length; i++) {

                for (var j = 0; j < table.rows[i].cells.length; j++) {
                    if ((table.rows[i].cells[j].children[0].value) != ("on")) {
                        row += table.rows[i].cells[j].children[0].value;
                        row += " ";
                    }
                }
                row = " " + row + " ";
            }

            var value1 = [row];
            document.getElementById("valuelist1").value = value1;
            document.getElementById("rows").value = i;
            document.getElementById("cols").value = (j - 1);
            var tab1row = i;
            var tab1col = (j - 1);
            var table = document.getElementById(tableID2);

            var row = " ";
            for (var i = 0; i < table.rows.length; i++) {

                for (var j = 0; j < table.rows[i].cells.length; j++) {
                    if ((table.rows[i].cells[j].children[0].value) != ("on")) {
                        row += table.rows[i].cells[j].children[0].value;
                        row += " ";
                    }
                }
                row = " " + row + " ";
            }

            var value1 = [row];
            document.getElementById("valuelist2").value = value1;
            document.getElementById("rows").value = i + tab1row;
            document.getElementById("cols").value = (j - 1);
            /*alert(value1);
            alert(document.getElementById("rows").value);
            alert(document.getElementById("cols").value);*/

        }

        function addRow(tableID) {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            if (rowCount < 2) {							// limit the user from creating fields more than your limits
                var row = table.insertRow(rowCount);

                var colCount = table.rows[0].cells.length;
                for (var i = 0; i < colCount; i++) {
                    var newcell = row.insertCell(i);
                    newcell.innerHTML = table.rows[0].cells[i].innerHTML;

                }
            } else {
                alert("Maximum number of rows you can enter is 2.");

            }

        }
        function deleteRow(tableID) {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            for (var i = 0; i < rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if (null != chkbox && true == chkbox.checked) {
                    if (rowCount <= 1) { 						// limit the user from removing all the fields
                        alert("Cannot remove all the rows. You have to enter some data to calculate.");
                        break;
                    }
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
            }
        }
        function addColumn(tableID) {

            var table = document.getElementById(tableID), // table reference
                tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                var td = document.createElement('td');
                var input = document.createElement('INPUT');
                input.type = 'float';
                td.appendChild(input);
                tr[i].appendChild(td);
            }
        }

        function deleteColumns(tableID) {
            var table = document.getElementById(tableID), // table reference
                lastCol = table.rows[0].cells.length - 1,    // set the last column index
                i = 0, j;
            // delete cells with index greater then 0 (for each row)
            for (i = 0; i < table.rows.length; i++) {
                /*for (j = lastCol; j > 0; j--) {*/
                table.rows[i].deleteCell(lastCol); // this deletes just the last column
                /*}*/
            }
        }


    </script>

    <script>
        function goBack() {
            window.history.back()
        }
    </script>

    <div class="main-container">
        <h1 style="text-transform:uppercase">{{ testname }}</h1>
    </div>

    <form action="chisq">
        <div>
            <main>
                <table>
                    <tr><td>Enter the value for alpha:</td><td><input type='text' id='alpha' name='alpha' value=0.05></input></td></tr>
                    <tr><td>Enter the value for power:</td><td><input type='text' id='power' name='power' value=0.8></input></td></tr>
                    <tr><td></td><td><input type='hidden' id='valuelist1' name='valuelist1'></input></td></tr>
                    <tr><td></td><td><input type='hidden' id='valuelist2' name='valuelist2'></input></td></tr>
                    <tr><td><input type='hidden' id='rows' name='rows' /></td></tr>
                    <tr><td><input type='hidden' id='cols' name='cols' /></td></tr>
                    <input type="hidden" id="flag" name="flag" value='1'>

                    <!--			<tr><td>Enter the number of columns:</td><td><input type='text' id='cols' name='cols'></input></td></tr> -->
                </table>

                <br>

                <legend>
                    <h2>Data entry matrix (Males):</h2>
                </legend>
                <p>
                    <input type="button" value="Add Row " onclick="addRow('dataTable1')" />
                    <input type="button" value="Delete Row" onclick="deleteRow('dataTable1')" />
                    <input type="button" value="Add Column " onclick="addColumn('dataTable1')" />
                    <input type="button" value="Delete Column" onclick="deleteColumns('dataTable1')" />
                    <input type="reset" value="Clear" />
                </p>

                <table id="dataTable1" name="matrix1">
                    <tbody>
                        <tr>
                            <p>

                            <td><input type='checkbox' required='required' name='chk[]' checked='checked' /></td>
                            <td><input type='float' id='val1' name='val1'></input></td>

                            </p>
                        </tr>
                    </tbody>
                </table>
                <legend>
                    <h2>Data entry matrix(Females):</h2>
                </legend>
                <p>
                    <input type="button" value="Add Row " onclick="addRow('dataTable2')" />
                    <input type="button" value="Delete Row" onclick="deleteRow('dataTable2')" />
                    <input type="button" value="Add Column " onclick="addColumn('dataTable2')" />
                    <input type="button" value="Delete Column" onclick="deleteColumns('dataTable2')" />
                    <input type="reset" value="Clear" />
                </p>

                <table id="dataTable2" name="matrix2">
                    <tbody>
                        <tr>
                            <p>

                            <td><input type='checkbox' required='required' name='chk[]' checked='checked' /></td>
                            <td><input type='float' id='val1' name='val1'></input></td>

                            </p>
                        </tr>
                    </tbody>
                </table>
                <br>



                <br>
        </div>
        <input type="submit" onclick="verifyData('dataTable1','dataTable2')" value="Calculate Sample Size" />
        <button class="btn btn-info btn-lg" role="button" onclick="goBack()">Go Back</button>
        <a type="button" href="/" class="btn btn-info btn-lg" role="button">Start Over</a>
        </main>
    </form>




    {% endblock %}
