{% extends "app/layout.html" %}

{% block content %}
<script>
        function goBack() {
            window.history.back()
        }
</script>
<div class="main-container">
    <div class="row">
      <h2 style="text-transform:uppercase">{{ title }}</h2>
    </div>
    <div class="row">
<p>A two-sample, two-tailed t-test using Satterthwaite's approximation to the degrees of freedom
will be used to test the null hypothesis that the population of the "{{result.arm1 }}" arm equals that of the "{{result.arm2}}" arm. A p-value less than {{result.alpha}} will be considered statistically significant.</p>
</div>
<div class="row">
<p>The sample size of <strong>{{result.n_per_arm}}</strong> per arm was determined based on these assumptions:  </p>
<br>
<ul>
  <li> power={{result.power}} </li>
  <li> significance level of test={{result.alpha}}</li>
  <li> mean and standard deviation in {{result.arm1 }} arm under the alternative hypothesis={{result.mu_1}} and {{result.sigma1}} </li>
  <li> mean and standard deviation in {{result.arm2 }} arm under the alternative hypothesis={{result.mu_2}} and {{result.sigma2}} </li>
</ul>
</div>
    <div class="row">
        <button class="btn btn-info btn-lg" role="button" onclick="goBack()">Go Back</button>

        <a type="button" href="/" class="btn btn-info btn-lg" role="button">Start Over</a>
        </div>
</div>

{% endblock %}
