{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>

<head>


</head>
	<header>
		<h1>chi square</h1>
		
	</header>
	<form action="chisq" >	
		<div>
		<main>
			<table>
			<tr><td>Enter the value for alpha:</td><td><input type='text' id='alpha' name='alpha' value=0.05></input></td></tr>
			<tr><td>Enter the value for power:</td><td><input type='text' id='power' name='power' value=0.8></input></td></tr>
			<tr><td></td><td><input type='hidden' id='valuelist' name='valuelist'></input></td></tr>
			<tr><td><input type='hidden' id='rows' name='rows' /></td></tr>
			<tr><td><input type='hidden' id='cols' name='cols' /></td></tr>
			
<!--			<tr><td>Enter the number of columns:</td><td><input type='text' id='cols' name='cols'></input></td></tr> -->
			</table>
			
			<br>

		<legend>
		<h1>Data entry matrix:</h1>
		</legend>
		<p> <input type="button" value="Add Row " onClick="addRow('dataTable1')" /> 
			<input type="button" value="Delete Row" onClick="deleteRow('dataTable1')"  />
			<input type="button" value="Add Column " onClick="addColumn('dataTable1')"  />
			<input type="button" value="Delete Column" onClick="deleteColumns('dataTable1')"  />
		</p>
        
		<table id="dataTable1" name= "matrix" >
        <tbody>
			<tr>
			 <p>
			
				<td><input type='checkbox' required='required' name='chk[]' checked='checked' /></td>
				<td><input type='float' id='val1' name='val1' ></input></td>
               
			   </p>
			</tr>
        </tbody>
		</table>
		<br>
		
<!---		<input type="button" value="Verify Table Data" onClick="verifyData('dataTable1')"  /></input> --->
		
		<br>
		</div>
		<input type="submit" onClick="verifyData('dataTable1')"/>
		</main>
	</form>


{% endblock %}